[Unit]
Description="testy-backup.timer: A database backup and validation scheduler for the testy framework"
After=testy-run@%i.service

[Timer]
OnActiveSec=3s
OnUnitActiveSec=180s
#OnUnitActiveSec=180s
Unit=testy-backup@%i.service

[Install]
WantedBy=timers.target
WantedBy=testy-run@%i.service
