[Unit]
Description="testy-crash: A crash service for the testy framework"
Documentation=https://github.com/wiredtiger/testy

[Service]
User=testy
Group=testy
Type=oneshot
ExecStartPre=/bin/bash -c '! systemctl is-active --quiet testy-backup@%I.service || (echo "Backup service is running." && exit 1)'
ExecStartPre=/bin/bash -c 'sudo kill -SIGKILL $(ps -ef | grep "${workload_dir}/%I/%I.sh run" | grep -v grep | awk \'{ print $2 }\')'
ExecStart=/bin/bash -c '${script_dir}/testy-snapshot.sh ${workload_dir}/%I/%I.sh testy-crash'
ExecStartPost=/bin/bash -c 'sudo systemctl start testy-run@%I.service'
TimeoutSec=3600s
StandardOutput=journal+console
StandardError=journal+console
