[Unit]
Description="Backup service for testy"
Documentation=https://github.com/wiredtiger/testy

[Service]
User=testy
Group=testy
ExecStart=/bin/bash -c '${backup_dir}/backup.sh'
TimeoutSec=3600s
StandardOutput=journal+console
StandardError=journal+console
