[Unit]
Description="Timer for periodic backups"
After=testy-run@.service

[Timer]
OnBootSec=60s
OnUnitActiveSec=300s
Unit=testy-backup.service

[Install]
WantedBy=timers.target
WantedBy=testy-run@.service
