[Unit]
Description="testy-crash.timer: A crash scheduler for the testy framework"
After=testy-run@%i.service

[Timer]
OnActiveSec=604800s
OnUnitActiveSec=604800s

[Install]
WantedBy=timers.target
WantedBy=testy-run@%i.service
