[Unit]
Description="Timer for periodic backups"
After=testy-run@.service
Requires=testy-run@.service

[Timer]
OnUnitActiveSec=300s
OnBootSec=60s

[Install]
WantedBy=timers.target
