[Unit]
Description="Backup service for Testy"
Documentation=https://github.com/wiredtiger/testy
After=testy-run@%i.service
BindsTo=testy-run@%i.service

[Service]
User=testy
Group=testy
Restart=no
ExecStart=/bin/bash -c '${workload_dir}/%I/%I.sh backup'
TimeoutSec=3600s
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=testy-run@%i.service
